body {
  font-family: 'Arial', sans-serif;
  background-color: #F1F1F1;
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
  width:100%;
}

.logo-container {
  flex: 1; 
  left: 10px;
  
}

a:hover {
  color: #ff8c00; /* Cor laranja para o estado hover */
}

.logo {
  width:100px;
  height: auto;
  
}

header {
background-color: #A6A6A6;
padding: 10px 20 px;
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 2px solid #A6A6A6;
}


nav {
  background-color: #A6A6A6;
  padding: 10px 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}
.logo {
  width: 100px;
  height: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.section {
padding: 20px;
}


